* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2E2E3A;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E2C;
    height: 100vh;
}

.outer-container {
    background-color: #1E1E2C;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    box-sizing: border-box;
}

.newsletter-card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 2em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    margin: auto;
    box-sizing: border-box;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
}

.text-content h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.text-content p {
    margin-bottom: 1em;
    color: #6c6c6c;
}

.text-content ul {
    list-style: none;
    margin-bottom: 2em;
}

.text-content ul li {

    margin-bottom: 1em; 
    position: relative;
    padding-left: 25px; 
}

.text-content ul li::before {
    content: '✔️'; 
    position: absolute;
    left: 0;
    color: #ff5c5c;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures input and button are centered */
}

form input {
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1em;
    font-size: 1em;
    width: 100%; /* Full width input */
    max-width: 400px; /* Maximum width of input */
}

form button {
    background-color: #333;
    color: #fff;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 400px;
}

form button:hover {
    background-color: #555;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

form label {
    font-size: 1em;
    color: #1E1E2C;;
    margin-bottom: 0.7em; /* Adds space between the label and input */
    text-align: left; /* Ensures the label text is aligned to the left */
    width: 100%; /* Ensures label takes full width */
    max-width: 400px; /* Limits label width */
    display: block; /* Makes the label a block element to allow left alignment */
}
