* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1E1E2C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.newsletter-card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 2em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    margin: auto;
    box-sizing: border-box;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-right: 20px;
}

.text-content h1 {
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1E1E2C;
}

.text-content p {
    margin-top: 0.7em;
    margin-bottom: 1em;
    color: #6c6c6c;
}

.text-content ul {
    list-style: none;
    margin-bottom: 2em;
    padding-left: 0;
}

.text-content ul li {
    margin-bottom: 1em; font-size: 2.5em;
    position: relative;
    padding-left: 30px;
}

.text-content ul li::before { font-size: 2.5em;
    content: '';
    position: absolute;
    left: 0;
    top: 0.2em;
    width: 20px;
    height: 20px;
    background-image: url('/assets/images/icon-list.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form input {
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1em;
    font-size: 1em;
    width: 100%;
    max-width: 400px;
}

form input.error {
    border-color: #FF6B6B;
    background-color: #FFECEC;
}

form button {

    background: linear-gradient(to right, #FF7A7A, #FFB36C);
    color: #fff;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 400px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background: #1E1E2C;
}

form label {
    font-size: 1em;
    color: #1E1E2C;
    margin-bottom: 0.7em;
    text-align: left;
    width: 100%;
    max-width: 400px;
    display: block;
}

.error-message {
    color: #FF6B6B;
    font-size: 0.9em;
    margin-bottom: 1em;
    display: none;
    width: 100%;
    text-align: left;
    max-width: 400px;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.image-content img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.success-container {
    display: none;
    background-color: #1E1E2C;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.success-container .success-card {
    background-color: #fff;
    padding: 3em;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: left;
    max-width: 400px;
}

.success-container h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #1E1E2C;
}

.success-container p {
    font-size: 1em;
    margin-bottom: 2em;
    color: #555;
}

.success-container button {
    padding: 0.8em 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    background: linear-gradient(to right, #FF7A7A, #FFB36C);
    color: white;
    transition: background-color 0.3s ease;
}

.success-container button:hover {
    background: #1E1E2C;
}

.success-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 1em;
}

@media (max-width: 768px) {

    .newsletter-card {
        flex-direction: column-reverse;
        padding: 0.5em;
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }

    .image-content {
        margin-left: 0;
        margin-top: 10px;
    }

    form input {
        padding: 0.6em;
        margin-bottom: 0.8em;
        font-size: 0.9em;
        max-width: 100%;
    }

    form button {
        padding: 0.6em;
        font-size: 0.9em;
        max-width: 100%;
    }

    .success-card {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        height: auto;
    }

    .success-icon {
        padding-top: 20%;
    }

    .success-container h1 {
        padding-top: 3%;
        font-size: 1.5em;
    }

    .success-container p {
        padding-top: 3%;
        font-size: 1em;
    }

    .success-container button {
        margin-top: auto;
        padding: 0.6em;
        font-size: 0.9em;
    }

    .image-content {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .image-content img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .text-content {

        padding-left: 20px;
    }
}